@import url('reset.css');

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL CLASSES */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #F2F2F2;
    background-color: #08060B
}

.container {
	max-width: 1700px;
	margin: 0 auto;
	padding: 0 15px;
    width: 100%;
    position: relative;
}

.content-box {
    max-width: 1342px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    position: relative;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 18px 128px;
    background: rgba(8,6,11,0.4);
}

.header-menu ul {
    display: flex;
    gap: 64px;
}

.header-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-menu a:hover {
    color: rgba(242, 100, 48, 1);
}

/* HERO */

.hero {
    position: relative;
    padding-top: 73px;
    min-height: 100vh;
    background: url(../img/hero-img.png) no-repeat 100% 0 / auto 100%;
    display: flex;
    align-items: center;
}

.hero::before {
    content: '';
    background: radial-gradient(circle at 10% -10%, rgba(242, 100, 48, 1), transparent 80%);
    position: absolute;
    top: -530px;
    left: 0;
    height: 917px;
    width: 917px;
    filter: blur(20px);
}

.hero-box-desc {
    width: 725px;
}

.hero-title {
    font-size: 144px;
    font-weight: 300;
    color: #fff;
}

.hero-title span {
    font-weight: 500;
}

.hero-desc {
    font-weight: 300;
    margin-top: 32px;
}

.hero-form {
    margin-top: 96px;
}

.hero-form p {
    font-size: 18px;
    font-weight: 300;
}

.hero-email {
    margin-top: 24px;
}

.hero-email-button {
    cursor: pointer;
    padding: 14px 85px;
    background-color: #024959;
    border-radius: 16px;
    color: #FFF;
    vertical-align: middle;
    margin-left: 48px;
}

input[type="email"] {
    width: 420px;
    height: 55px;
    background: rgba(89, 2, 9, 0.5);
    border-radius: 16px;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    border: none;
    color: rgba(242, 242, 242, 0.8);
    padding-left: 24px;
}

/* ABOUT */
.about-us {
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px 0;
}

.about-us::after {
    content: '';
    background: radial-gradient(circle at 100% 50%, rgba(242, 100, 48, 1), transparent 50%);
    position: absolute;
    top: 450px;
    right: 0;
    height: 917px;
    width: 917px;
    filter: blur(20px);
    opacity: 50%;
    z-index: -1;
}

.about-us::before {
    content: '';
    background: radial-gradient(circle at 50% 50%, rgba(242, 100, 48, 1), transparent 80%);
    position: absolute;
    top: -700px;
    left: -670px;
    height: 1599px;
    width: 1599px;
    filter: blur(20px);
    opacity: 20%;
}

.about-box {
    width: 100%;
}

.about {
    height: 855px;
    background: url(../img/about-bg.png) no-repeat 50% / 1312px 855px;
    border-radius: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-top: 64px;
}

.about h2 {
    font-size: 64px;
    font-weight: 700;
}

.about h3 {
    font-size: 36px;
    font-weight: 400;
}

.about p {
    font-weight: 400;
    text-align: justify;
    max-width: 880px;
}

/* ADVANCED */

.advanced {
    padding: 50px 0;
}

.advanced-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advanced-desc {
    width: 630px;
}

.advanced img {
    border-radius: 32px;
}

.advanced-desc h2 {
    font-size: 36px;
    font-weight: 500;
}

.advanced-desc p {
    font-weight: 300;
    margin-top: 26px;
}

.advanced-btn {
    padding: 14px 47px;
    background: #024959;
    font-weight: 500;
    cursor: pointer;
    color: #F2F2F2;
    border-radius: 16px;
    margin-top: 48px;
}

/* IMPROVED */
.improved {
    padding: 50px 0;
    position: relative;
}

.improved::after {
    content: '';
    background: radial-gradient(circle at 100% 50%, rgba(242, 100, 48, 1), transparent 55%);
    position: absolute;
    top: 260px;
    right: 0;
    height: 917px;
    width: 917px;
    filter: blur(20px);
    opacity: 50%;
    z-index: -1;
}

.improved::before {
    content: '';
    background: radial-gradient(circle at 50% 50%, rgba(242, 100, 48, 1), transparent 80%);
    position: absolute;
    top: -700px;
    left: -670px;
    height: 1599px;
    width: 1599px;
    filter: blur(20px);
    opacity: 20%;
    z-index: -1;
}

.improved-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.improved-desc {
    width: 630px;
}

.improved img {
    border-radius: 32px;
    object-fit: cover;
}

.improved-desc h2 {
    font-size: 36px;
    font-weight: 500;
}

.improved-desc p {
    font-weight: 300;
    margin-top: 26px;
}

.improved-btn {
    padding: 14px 47px;
    background: #024959;
    font-weight: 500;
    cursor: pointer;
    color: #F2F2F2;
    border-radius: 16px;
    margin-top: 48px;
}

/* PRICE */
.price {
    padding: 50px 0;
    position: relative;
}

.price-box {
    display: flex;
    align-items: center;
}

.price-cards {
    display: flex;
    gap: 128px;
    text-align: center;
}

.price-card {
    border-radius: 32px;
    box-shadow: -8px 8px 32px rgba(242, 58, 41, 0.25);
    padding: 64px 71px;
    background-color: #08060B;
    transition: all .3s linear;
}

.price-card:hover {
    transform: scale(1.2);
}

.price-card h3 {
    font-weight: 500;
}

.price-card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 44px;
    font-size: 14px;
    font-weight: 500;
}

.price-card li {
    text-wrap: nowrap;
}

.price-card p {
    margin-top: 92px;
    font-family: 'Vollkorn';
    font-size: 48px;
}

/* FOOTER */
.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 14px 128px;
    background: rgba(8,6,11,0.4);
    
}

.footer-box ul {
    display: flex;
    gap: 64px;
}

.footer-box p {
    font-family: 'Vollkorn';
}

.footer-box a {
    display: block;
    color: rgba(242, 242, 242, 1);
    width: 32px;
    height: 32px;
}

.footer-box a:hover {
    color: rgba(242, 100, 48, 1);
}

.footer-box svg {
    width: 32px;
    height: 32px;
}